*{
    margin: 0;
    padding: 0;
}
.bg_black{
    background: black;
}
.bg_white{
    background: white;
}
.bg_red{
    background: red;
}
.bg_green{
    background: green;
}
.bg_blue{
    background: blue;
}
.bg_orange{
    background: orange;
}
.bg_pink{
    background: pink;
}
.general{
    margin: 0 auto;
    width: 1200px;
}
.h_20{
    height: 20%;
}
.h_10{
    height: 10%;
}
.h_30{
    height: 30%;
}
.h_50{
    height: 50%;
}
.h-60{
    height: 60%;
}
.h_80{
    height: 80%;
}
.h_100{
    height: 100%;
}
.h_avto{
    height: auto;
}
.w-25{
    width: 25%;
}
.w-30{
    width: 33.3%;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.w-avto{
    width: auto;
}
.text{
    text-align: center;
    color: white;
}
.fl{
    float: left;
}
.siteheader{
    height: 250px;
}
.siteheader > .centre{
    margin: 10px 100px;
    padding: 20px 40px;
}
.siteheader .a-sub{
    margin: 10px 80px 0 80px;
}
.menu{
    height: 150px;
    padding: 10px 0 5px 0;
}
.block_1 .a-sub{
    margin: 15% 0 0 0;
}
.block_1 .b-sub{
    margin: 15% 0 0 0;
}
.block_1 .c-sub{
    margin: 15% 0 0 0;
}
.block_2 > .centre{
    margin: 50px 10px 0 10px;
    padding: 10px 0 0 0;
}
.block_3 .a-sub{
    float: left;
    margin: 15% 0 0 0;
}
.block_3 .b-sub{
    float: right;
    margin: 15% 0 0 0;
}
.block_4 > .sub {
    margin: 20px 10px 0 10px;
    padding: 10px 0 0 0;
}
.stomach{
    height: 600px;
}
.leftblock_2{
    margin: 40px 20px 40px 20px;
}
.a-center{
    margin: 55.5% 0 0 0;
}
.a-center .a-sub-left{
    margin: 20% 0 0 0;
}
.a-center .b-sub-left{
    margin: 35% 0 0 0;
}
.rightblock > .r1{
    margin: 55.5% 0 0 0;
}
.rightblock > .r2 {
    margin: 40% 0 0 0;
}
.rightblock > .r3 {
    margin: 20% 0 0 0;
}
.r1 .a-sub{
    margin: 20% 0 0 0;
    float: left;
}
.r1 .b-sub{
    margin: 20% 0 0 0;
    float: right;
}
.r3 .text1{
    margin: 40% 0 0 0;
    float: left;
}
.r3 .text2{
    margin: 20% 0 0 0;
    float: right;
}
.r3 .a-sub {
    margin: 90px 0 0 0;
}
.r3 .b-sub{
    margin: 39px 0 0 0;
}
.basement {
    height: 50px;
}