*{
    margin: 0;
    padding: 0;
}
.bg_black{
    background: black;
}
.bg_white{
    background: white;
}
.bg_red{
    background: red;
}
.bg_green{
    background: green;
}
.bg_blue{
    background: blue;
}
.bg_orange{
    background: orange;
}
.bg_pink{
    background: pink;
}
.general{
    margin: 0 200px 0 100px;
    height: 800px;
}
.h_20{
    height: 20%;
}
.h_10{
    height: 10%;
}
.h_50{
    height: 50%;
}
